<div class="container">
        <div class="row">
                <form (ngSubmit)="saveExpense()">

                        <div class="form-group">
                                <input type="text" name="expense" [(ngModel)]="event.event"
                                placeholder="Enter event name" class="form-control col-md-12 "/>
                        </div>

                        <div class="form-group">
                                <input type="text" name="startDate" [(ngModel)]="event.startDate" placeholder="Enter start Date"
                                       class="form-control col-md-12" />
                        </div>

                        <div class="form-group">
                                <input type="text" name="endDate" [(ngModel)]="event.endDate" placeholder="Enter end Date"
                                       class="form-control col-md-12" />
                        </div>

                        <div class="form-group">
                                <input type="text" name="location" [(ngModel)]="event.location" placeholder="Enter location"
                                       class="form-control col-md-12" />
                        </div>

                        <div class="form-group">
                                <input type="text" name="website" [(ngModel)]="event.website" placeholder="Enter website"
                                       class="form-control col-md-12" />
                        </div>

                        <div class="form-group">
                                <input type="text" name="origin" [(ngModel)]="event.origin" placeholder="Enter Origin"
                                       class="form-control col-md-12" />
                        </div>

                        <button type="submit" class="btn btn-primary">Add Event</button>
                        <button *ngIf="event.id" (click)="deleteExpense(event.id)" class="btn btn-danger">Delete</button>

                </form>
        </div>
</div>
